* {
    box-sizing: border-box;
    margin: 0;
}

/* Fonts vi skapar */
@font-face {
    font-family: "bungee-shade";
    src: url("fonts/bungee_shade/BungeeShade-Regular.ttf");
}

@font-face {
    font-family: "bungee-outline";
    src: url("fonts/bungee_outline/BungeeOutline-Regular.ttf");
}

@font-face {
    font-family: "barlow-semi-condensed";
    src: url("fonts/barlow_semi_condensed/BarlowSemiCondensed-Medium.ttf");
}

@font-face {
    font-family: "barlow-condensed";
    src: url("fonts/barlow_condensed/BarlowCondensed-Medium.ttf");
}

@font-face {
    font-family: "barlow-bold-condensed";
    src: url("fonts/barlow_condensed/BarlowCondensed-Bold.ttf");
}

body {
    /* Egna skapade properties */
    --space: 1.5vw;
    --double_space: calc(2*var(--space));
    --border-radius: 20px;

    /* Storlekar, mått */
    margin-top: 100px;
    height: 100vh;
    min-width: 800px;

    /* Bakgrundsbilden */
    background-image: url("images/background.jpg");
    background-position: center;
    background-attachment: fixed;
    /* Bakgrundsbilden stannar, kan ej skrolla */
    background-size: cover;

    font-family: "barlow-semi-condensed";
    color: rgb(208, 208, 208);

    display: flex;
    justify-content: center;
}

/* "Boxen" med allt innehåll */
.wrapper {
    background-color: rgba(32, 32, 32, 0.6);
    border-radius: var(--border-radius);
    width: 70vw;
    padding: var(--double_space);
    /* Längden på wrappern */
    height: 2400px;
}

/* Header, titel */
header {
    font-size: 80px;
    font-family: "bungee-shade";
}

/* Navigation */
nav li:nth-child(2) {
    font-family: "barlow-bold-condensed";
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px #ffffff;
}

/* Knappar till navigationen */
ul {
    margin: var(--double_space) 0;
    padding-left: 0px;

    display: flex;
    gap: var(--space);
}

ul li {
    text-align: center;
    font-size: 28px;
    list-style: none;

    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(26, 26, 26);

    padding: var(--space);
    border-radius: var(--border-radius);

    /* Får knapparna att bli lika långa */
    flex-grow: 1;
    flex-basis: 0;
}

/* Försök fixa på ett snyggare sätt */
ul li:nth-child(odd):hover {
    background-color: rgba(00, 00, 00, 0.3);
    color: #faebd7;
    cursor: pointer;
}

ul li:nth-child(4):hover {
    background-color: rgba(00, 00, 00, 0.3);
    color: #faebd7;
    cursor: pointer;
}

/* "Boxarna" för info om CD-skivorna */
main .box {
    background-color: rgba(3, 3, 3, 0.6);
    padding: var(--space);
    border-radius: var(--border-radius);
    border: 1px solid white;
    margin-bottom: calc(1.5*var(--space));
}

/* Boxarna med bilder, text o.s.v. */
.box:nth-of-type(1),
.box:nth-of-type(2) {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    /* grid-template-rows: 40px 80px 20px 180px 130px 190px 160px; */
    grid-template-rows: 0.04fr 0.08fr 0.01fr 0.18fr 0.06fr 0.22fr 0.15fr;
}

.box p,
.box ol {
    grid-column: 1;
    font-size: 1vw;
}

.image {
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/* Stora bilden på CD-omslagen */
img {
    border-radius: var(--border-radius);
    justify-self: end;
    grid-column: 1 / span 3;
    grid-row: 1;
    margin-bottom: calc(0.5*var(--space));

    width: 100%;

    /* Vi skriver opacity eftersom vi endast kan transition numrerisk värden,
    t.ex. background-image funkar inte */
    transition: opacity 0.5s ease-in-out;
}

/* Endast de stora bilderna på CD-omslaget skall få en transition */
img:nth-of-type(2):hover {
    opacity: 0;
}

/* Underrubriker och text */
div h2 {
    font-family: "bungee-outline";
    font-size: 2.4vw;
}

div h3 {
    font-family: "barlow-condensed";
    font-size: 2vw;
}

div ol li {
    list-style: none;
}

/* Text med tracks (side one & two) */
.box .playlist {
    background-color: #323232;
    border: 0;

    border-radius: 0 0 0 20px;

    grid-row: 6;
    grid-column: 1;

    margin: 0 5px 10px 5px;
    padding: var(--space);
}

/* Andra CD:ns playlist ska ha annan färg */
.box:nth-of-type(2) .playlist {
    background-color: #000000;
}

.playlist ol {
    padding-left: var(--space);
}

.playlist li {
    /* Eftersom vi tog bort list-style innan lägger vi till det igen */
    list-style: decimal;
}

/* Använder sig av samma klass--måste flytta på den andra eftersom den är förinställd
   på "grid-column: 2" i classen */
.playlist:nth-of-type(2) {
    grid-column: 2;
    border-radius: 0 0 var(--space) 0;
}

/* Längst ner i vår grid/box om CD-skivorna,
   här finns texter + bild */
.bottom_text {
    grid-row: 7;
    grid-column: 1 / span 3;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.9fr;
    gap: 5px;
}

/* All bottom_text ska få en vit box och grå textfärg */
.bottom_text p {
    background-color: white;
    color: #323232;
    padding: calc(0.7*var(--space));

    /* För att centrera texten gör vi det till en flex + align-items */
    display: flex;
    align-items: center;
}

/* Positionerar cellerna/områdena samt kanterna */
/* CD 1 - Första cellen med text */
.bottom_text p:nth-of-type(1) {
    grid-column: 1 / 1;
    border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius);
}

/* CD 1 - Andra området med text */
.bottom_text p:nth-of-type(2) {
    grid-column: 3 / span 2;
    border-radius: var(--border-radius) var(--border-radius) var(--border-radius) 0;

}

/* CD 1 - Tredje cellen med bild*/
.bottom_text img {
    grid-column: 5;
    object-fit: cover;
    object-position: top;

    /* Annars sticker bilden ut från gridden */
    height: 100%;

    /* Vi vill ha texten inne i bilden (INTE FIXAD!) */
    display: flex;
    align-items: flex-end;
}

/* Texten på bilden på Lady Gaga */
.bottom_text p:nth-of-type(3) {
    z-index: 1;

    color: white;
    background-color: transparent;
    text-shadow: 2px 2px 3px black;

    align-self: end;

    grid-column: 5;
    grid-row: 1;

}

/* CD 1 - Fjärde cellen med text */
.bottom_text p:nth-of-type(4) {
    grid-column: 6;
    border-radius: 20px 20px 0 20px;

}

/* Andra CD:ns bottom_text ska ha annat cell-upplägg och färger */
.box:nth-of-type(2) .bottom_text p {
    background-color: #989898;
    color: #000000;
}

/* CD 2 - Första området med text */
.box:nth-of-type(2) .bottom_text p:nth-of-type(1) {
    grid-column: 1 / span 2;
    border-radius: var(--border-radius) var(--border-radius) var(--border-radius) 0;
}

/* CD 2 - Andra cellen med text */
.box:nth-of-type(2) .bottom_text p:nth-of-type(2) {
    grid-column: 3;
    border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
}

/* CD 2 - Tredje området med bild */
.box:nth-of-type(2) .bottom_text img {
    grid-column: 4 / span 2;

    border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);

    /* Vi vill ha texten inne i bilden (INTE FIXAD!) */
    display: flex;
    align-items: flex-end;
}

.box:nth-of-type(2) .bottom_text p:nth-of-type(3) {
    z-index: 1;

    color: white;
    background-color: transparent;
    text-shadow: 2px 2px 3px black;

    align-self: end;

    grid-column: 4;
    grid-row: 1;

}

.box:nth-of-type(2) .bottom_text {
    margin-top: var(--space);
}

/* Footer */
footer {
    height: 95px;
    display: flex;
    align-items: flex-end;
}

/* Mellan 800px och 900px ska typsnittet inte växa */
@media (min-width: 800px) and (max-width: 900px) {

    /* Justera typsnittsstorlek */
    div h2 {
        font-size: 21px;
    }

    div h3 {
        font-size: 16px;
    }

    .box p,
    .box ol {
        font-size: 12px;
    }
}

/* Här ska typsnittet växa, mellan 900px och 1200px */
@media (min-width: 900px) and (max-width: 1200px) {

    /* Justera typsnittsstorlek */
    div h2 {
        font-size: 2.3vw;
    }

    div h3 {
        font-size: 1.8vw;
    }

    .box p,
    .box ol {
        font-size: 12px;
    }
}