* {
    box-sizing: border-box;
    margin: 0;
}

/* Fonts */

@font-face {
    font-family: "bungee-shade";
    src: url("fonts/bungee_shade/BungeeShade-Regular.ttf");
}

@font-face {
    font-family: "bungee-outline";
    src: url("fonts/bungee_outline/BungeeOutline-Regular.ttf");
}

@font-face {
    font-family: "barlow-semi-condensed";
    src: url("fonts/barlow_semi_condensed/BarlowSemiCondensed-Medium.ttf");
}

@font-face {
    font-family: "barlow-condensed";
    src: url("fonts/barlow_condensed/BarlowCondensed-Medium.ttf");
}

@font-face {
    font-family: "barlow-bold-condensed";
    src: url("fonts/barlow_condensed/BarlowCondensed-Bold.ttf");
}

body {
    margin-top: 100px;
    height: 100vh;
    min-width: 800px;

    background-image: url("images/background.jpeg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    font-family: "barlow-semi-condensed";
    color: rgb(208, 208, 208);

    display: flex;
    justify-content: center;
}

.wrapper {
    background-color: rgba(32, 32, 32, 0.6);
    border-radius: 20px;
    width: 70vw;
    padding: 40px;
}

/* Header, title */

header {
    font-size: 80px;
    font-family: "bungee-shade";
}

/* Navigation */

nav li:nth-child(2) {
    font-family: "barlow-bold-condensed";
    border: 1px solid white;
    box-shadow: 0 0 10px white;
}

ul {
    margin: 40px 0;
    padding-left: 0px;

    display: flex;
    gap: 20px;
}

ul li {
    text-align: center;
    font-size: 28px;
    list-style: none;

    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(26, 26, 26);

    padding: 20px;
    border-radius: 10px;

    flex-grow: 1;
    /* Få knapparna bli lika långa */
}

ul li:hover {
    background-color: rgba(00, 00, 00, 0.3);
    color: #faebd7;
}

/* CD */

main div {
    background-color: rgba(3, 3, 3, 0.6);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid white;
    margin-bottom: 30px;
}

img {
    border-radius: 20px;
    justify-self: end;
    grid-column: 2 / span 2;
    grid-row: 1;

    width: 100%;
}

div h2 {
    font-family: "bungee-outline";
}

div h3 {
    font-family: "barlow-condensed";
}

div ol li {
    list-style: none;
}

/* Första CD:n */

.first {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 30px 60px 20px 180px 160px 200px;
}

.first p,
.first ol {
    grid-column: 1;
}

.first .playlist {
    background-color: #323232;
    border: 0;

    border-radius: 0 0 0px 20px;

    grid-row: 6;
    grid-column: 2;
    margin: 5px;
}

.playlist ol {
    padding-left: 15px;
}

.playlist li {
    list-style: decimal;
    text-align: left;
}

.playlist:nth-of-type(2) {
    grid-column: 3;
    border-radius: 0 0 20px 0;
}